body {
    margin: 0;
}

/* Header */

.header {
    background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
    background-image: url("../images/donation0.jpg");
    background-repeat: no-repeat;
    color: white;
    height: 220px;
    background-size: cover;
    padding: 200px;
}

.heading {
    font-size: 70px;
    text-align: center;
    margin: inherit;
}

.heading-title {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    text-align: center;
   
}

.primary-btn {
    border: none;
    width: 160px;
    padding: 16px 12px;
    margin: 0px 396px;
    border-radius: 5px;
    background: #FF5959;
    color: #FFF;
}



/* Donate Today */

main {
    margin-top: 130px;
    text-align: center;
}

.main-title {
    font-size: 45px;
}

.main-description {
    color: #707070;
    font-size: 18px;
    width: 50%;
    display: inline-block;
}

.donate-money {
    display: flex;
    gap: 22px;
    justify-content: center;
}

.box {
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
}

.box2 {
    font-size: 30px;
    color: #FF5959;
    border: 2px solid #FF5959;
    padding: 20px;
    border-radius: 5px;
    background: #FEE;
}

.amount {
    margin-top: 60px;
    color: #B3B3B3;
    font-size: 18px;
}

hr {
    width: 50%;
    color: #DADADA;
}